<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- top-container -->
<div id = "app-container">
        <div class ="headline">
            Travel App
        </div>
       
        <!--  location holder container -->
        <div class ="location-holder">
            <label for="desti-location">My trip to:</label>
            <input type="text" id="desti-location" placeholder="Enter your location"><br>
        </div> <br>
        
        <div class ="depart-date-holder">
            <label for="departure">Departing:</label>
            <input type="date" id="departure" ><br>
        </div> <br>
        
        <div class ="return-date-holder">
            <label for="returning">Returning:</label> 
            <input type="date" id="returning" ><br>
        </div>
       
         <div class ="luggage-info-holder"><br>
            <label for="luggage-info">Provide your luggage's info</label><br>
            <textarea class= "my-info" id="luggage-info" placeholder="your luggage informations go here" rows="6" cols="20"></textarea><br>
           
          </div>

            <button id="save-trip" type = "submit"> Save Trip </button>
        
        <!-- result holder container -->
        <div class = "results-holder">
             <div><strong>Location's image:</strong><span id ="location-img"></span></div>
             <div><strong>My trip to:</strong><span id ="loc-day-info"></span></div>
             <div><strong>Typical weather:</strong><span id ="high-min-temp"></span></div>
             <div><strong>Weather more Info:</strong><span id ="average-temp"></span></div>
             <div><strong>Luggage info:</strong><span id ="info-result"></span></div>
        
           
            <!-- footer -->
            <div id = "footer">@COPYRIGHT 2020 Travel App</div>
        </div>
</div>
<script type="text/javascript" src="../../../dist/main.js"></script>

</body>
</html>