<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>

</head>
<body>
    <!-- top-container -->
<div id = "app-container">
        <div class ="headline">
            Travel App
        </div>
       
        <!--  location holder container -->
        <div class ="location-holder">
            <label for="desti-location">Your trip to:</label>
            <input type="text" id="desti-location" placeholder="City= Houston"><br>
        </div>
         <div id = "error-content"></div><br>
        
        <div class ="depart-date-holder">
            <label for="departure">Departing:</label>
            <input type="date" id="departure-date"><br>
        </div> <br>
        <div class ="depart-date-holder">
            <label for="departure">Returning:</label>
            <input type="date" id="return-date"><br>
        </div> <br>
           
          <div><img src="https://cdn.pixabay.com/photo/2016/07/11/06/09/skyline-1509136_960_720.jpg" alt="Pixabay image" id ="location-img"  style ="width:300px; height: 300px;"></div>
           <div><strong>Your trip to:</strong><span id ="place-info"></span></div>
           <div><strong>Departing:</strong><span id ="departing-date"></span></div>
           <div><strong>Returning:</strong><span id ="returning-date"></span></div>
           

            <button id="save-trip" type = "submit"> Save Trip </button>
            <button id="save-trip" type = "submit"> remove Trip </button>
        
        <!-- result holder container -->
        <div id = "result-hold" class = "results-holder">
            
             <div><strong></strong><span id ="days-count-info"></span></div>
             <div><strong>Typical weather for then is:</strong><br><span id ="min-high-temp"></span></div>
             <div><strong></strong><span id ="weather-temp"></span></div>
           
           
        
           
            <!-- footer -->
            <div id = "footer">@COPYRIGHT 2020 Travel App</div>
        </div>
</div>
<script type="text/javascript" src="../../../dist/main.js"></script>

</body>
</html>